// Principal Block
.project_profesional_home {
    width: 100vw;
    height: 100vh;
}

.project_profesional_home h1{
    text-align: left;
    margin-left: 2em;
    margin-bottom: 0;
    font-size: 1em;
}

.project_profesional_home button {
    background-color: #FFAA15;
    padding: 1em 1em;
    border-radius: 5px;
    border: none;
}


// Anchors

.anchors {
    font-size: 1em;	
    color: #2D3142;
    text-decoration: none;	
}

.svg {
    width: 5%;
}


.anchorscompany {
    margin-top: 6em;
    border: 1px solid black;
    font-size: 1.5em;	
    text-decoration: none;	
}

.buttoncompany {
    margin: 30%;
}

// Block profesional

.project_profesional {
    display:flex;
    justify-content: space-around;
}

// Block profesional blocks


.project_profesional_blocks {
   width: 40%;
//    margin-left: 1em;
//    margin-right: 1em;
//    padding: 0.5em;
}

//Title bar

.title-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;

}

.title-bar .svg {
    width: 8%;
}

.title-bar h2 {
    font-size: 1.25em;
}

.title-bar button {
    margin-left: 1em;
    margin-bottom: 3em;
}





.project_profesional_blocks legend {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.project_profesional_blocks h2 {
    margin-left: 1em;
}

.project_profesional_blocks fieldset {
    border: 1.25px solid black;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    width: 95%;
}

.project_profesional_blocks fieldset h2 {
    font-size: 1em;
}
