.follow-project-page {
    width: 100vw;
    height: 100vh;
}

.follow-project-page h1{
    text-align: left;
    margin-left: 2em;
    margin-bottom: 0;
    font-size: 1em;
}

.follow-project-page button {
    background-color: #FFAA15;
    padding: 1em 1em;
    border-radius: 5px;
    border: none;
}

.follow-project-pagetitle-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;

}

.follow-project-pagetitle-barh2 {
    font-size: 1.25em;
}

.follow-project-pagetitle-bar button {
    margin-left: 1em;
    margin-bottom: 3em;
}

.follow-project-pagetitle-bar img {
    width: 20vw;
    border-radius: 5px;
}



.follow-project {
    display:flex;
    justify-content: space-between;
}

.follow-project-colaborators-block {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.follow-project-colaborators-blocks{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0.5em;
}

.follow-project-colaborators-project-description {
    width: 60%;
    background-color: #FFF6D4;
    border: 1px black solid;
    border-radius: 5px;
    padding: 1em;
    text-align: left;
}

.follow-project-colaborators-project-description h3 {
    font-size: 1.25em;
    margin: 0.5em 0;
}

.follow-project-colaborators-project-description h4 {
    margin: 0;
    font-size: 0.9em;
}

.follow-project-colaborators-project-description p {
    margin: 0 0 0.5em 0;
    font-size: 0.9em;
}



.follow-project-colaborators-project-description ul {
    margin: 0;
}


.follow-project-colaborators-project-description li{
    font-size: 0.9em;
    margin: 0;

}

.follow-project-colaborators-description {
    width: 100%;
    flex-wrap: wrap;;
}

.follow-project-colaborators-single {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.follow-project-button {
    display: flex;
    padding: 1em;
    margin: 1em;
}









