.nav-style {
	display: flex;
	justify-content: space-between;
}

.nav-style ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.nav-style ul li {
	margin-right: 20px;
	list-style-type: none;
}

